Repository openclarity/vmclarity, pull requests merged in 2024-03, with the labels that each got.

#1351 refactor: Azure provider v2
  provider/v2/azure/config.go
  provider/v2/azure/discoverer/discoverer.go
  provider/v2/azure/discoverer/discoverer_test.go
  provider/v2/azure/estimator/estimator.go
  provider/v2/azure/provider.go
  provider/v2/azure/scanner/blob.go
  provider/v2/azure/scanner/networkInterface.go
  provider/v2/azure/scanner/scanner.go
  provider/v2/azure/scanner/scannerVm.go
  provider/v2/azure/scanner/snapshot.go
  provider/v2/azure/scanner/targetDisk.go
  provider/v2/azure/utils/utils.go
Labels: provider:azure

#1394 fix: subst spaces with commas in GO_BUILD_TAGS
  Makefile
  makefile.d/10-helpers.mk
Labels: bug

#1417 fix: race condition in workflow
  workflow/internal/dispatcher/dispatcher.go
  workflow/workflow_test.go
Labels: bug

#1384 refactor(docker): docker provider to provider v2
  provider/v2/docker/config.go
  provider/v2/docker/discoverer/container.go
  provider/v2/docker/discoverer/discoverer.go
  provider/v2/docker/discoverer/image.go
  provider/v2/docker/estimator/estimator.go
  provider/v2/docker/provider.go
  provider/v2/docker/scanner/scanner.go
Labels: provider:docker

#1431 refactor: remove dependabot config
  .github/dependabot.yml
Labels: dependencies

#1276 feat: add release for multiple modules
  .github/workflows/post-release.yaml
  .github/workflows/release.yaml
  .github/workflows/semantic-pr.yml
  Makefile
  RELEASE.md
  makefile.d/20-tools.mk
  versions.yaml
Labels: build

#1480 ci: add Make targets for fixing Renovate updates
  Makefile
Labels: ci

#1488 ci: rm tools from runner to free up disk space
  .github/workflows/reusable-end-to-end-testing.yml
  .github/workflows/reusable-verification.yml
Labels: ci

#1481 feat(aws): add healthz checks to cloudformation template
  installation/aws/VmClarity.cfn
  installation/docker/docker-compose.yml
Labels: provider:aws

#1501 refactor(gcp): add healthcheck to GCP installer
  installation/gcp/dm/components/vmclarity-install.sh
Labels: installer:gcp

#1500 fix: Nil pointer error if `ContainerImageInfo.Id` field is not set
  api/server/database/gorm/asset.go
Labels: bug, go, component:api

#1503 feat: healthchecks in Azure installer, names for VMClarity roles
  installation/azure/vmclarity-install.sh
  installation/azure/vmclarity.bicep
  installation/azure/vmclarity.json
  installation/azure/vmclarityDiscoverRole.bicep
  installation/azure/vmclarityScanRole.bicep
Labels: installer:azure
