Repository openclarity/vmclarity, pull requests merged in 2024-04, with the labels that each got.

#1544 ci: mv runner disk cleanup before cache restore
  .github/workflows/reusable-end-to-end-testing.yml
  .github/workflows/reusable-verification.yml
Labels: ci

#1456 test(aws): implement aws test environment
  e2e/abort_scan_test.go
  e2e/basic_scan_test.go
  e2e/config/config.go
  e2e/config/config_test.go
  e2e/fail_scan_test.go
  e2e/full_scan_test.go
  e2e/go.mod
  e2e/go.sum
  e2e/helpers.go
  e2e/suite_test.go
  installation/aws/VmClarity.cfn
  testenv/aws/asset/asset.go
  testenv/aws/aws.go
  testenv/aws/config.go
  testenv/aws/utils.go
  testenv/config.go
  testenv/docker/docker.go
  testenv/go.mod
  testenv/go.sum
  testenv/testenv.go
  testenv/utils/docker/docker.go
  testenv/utils/docker/service.go
  testenv/utils/docker/sshconn.go
  testenv/utils/ssh.go
Labels: provider:aws, test, test:e2e

#1564 feat(docker): scan dir asset
  e2e/dir_scan_test.go
  e2e/testdata/go.mod
  e2e/testdata/go.sum
  e2e/testdata/test.go
  provider/docker/provider.go
Labels: enhancement, docker, go

#1583 fix: bugs around aborting scan
  api/types/assetscanstatus.go
  orchestrator/watcher/scan/watcher.go
  scanner/findingkey/rootkit.go
Labels: bug, component:api, component:orchestrator

#1598 feat: fix plugin configuration and remove proxy
  plugins/openapi.yaml
  plugins/runner/cmd/main.go
  plugins/runner/manager.go
  plugins/runner/proxy.go
  plugins/runner/runner.go
  plugins/runner/utils.go
  plugins/sdk/go/internal/plugin/plugin.gen.go
  plugins/sdk/go/types/types.gen.go
  plugins/sdk/python/plugin/models/config.py
  plugins/store/kics/README.md
  plugins/store/kics/go.mod
  plugins/store/kics/main.go
Labels: enhancement, go

#1601 feat: add gcp e2e test env
  e2e/config/config.go
  e2e/config/config_test.go
  e2e/go.mod
  e2e/go.sum
  installation/gcp/dm/components/vmclarity-install.sh
  installation/manifests.go
  testenv/config.go
  testenv/gcp/asset/asset.go
  testenv/gcp/config.go
  testenv/gcp/gcp.go
  testenv/gcp/utils.go
  testenv/go.mod
  testenv/go.sum
  testenv/testenv.go
  testenv/types/environment.go
  testenv/utils/docker/docker.go
  testenv/utils/ssh.go
Labels: provider:gcp, test, test:e2e
